.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 25px;
}

.title {
  margin: 40px 0 40px 0;
  display: inline-block;
}

.search-bar {
  display: inline-block;
}
